.button {
  display: inline-block;
  padding: 0.3rem;
  margin: 0.3rem;
  border-radius: 5px;
  color: gainsboro;
  font-weight: 500;
  background-color: cadetblue;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button.disabled {
  cursor: no-drop;
  background-color: gray;
  pointer-events: none;
}

.button:not(.disabled):hover {
  transform: scale(1.1);
}
